@{
    ViewData["Title"] = "Video Chat";
}

<h1>@ViewData["Title"]</h1>


 <div>
  
        <div>
            <input id="roomId-input" type="text" placeholder="RoomID"/>
            <button id="connectButton" >Connect</button>
            <button id="disconnectButton" disabled>Disconnect</button>
        </div>
        <div>
            <video id="localVideo" autoplay muted></video>
            <video id="remoteVideo" autoplay></video>
        </div>
    </div>
    

@section Scripts {
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/videochat.js"></script>
}
