html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}

video {
    height: 400px;
    width: 500px;
    background-color:lightgray;
    margin: 20px;
    
}

section{
    float:left;
}

section h3 {
    text-align:center;
  
}

main {
    margin-top: 50px;
}